{% extends "EdebexAppBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Easy Invoice Maker {% endblock %}

{% block body %}

	<div class="navbar-wrapper">
	        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	            <div class="container">
	                <div class="navbar-header page-scroll">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                        <span class="sr-only">Toggle navigation</span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                        <span class="icon-bar"></span>
	                    </button>
	                    <a href="#"><img src="/img/edebex-logo.png" alt="" width="200"></a>
	                </div>
	                <div id="navbar" class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav navbar-right">
	                        <li><a class="page-scroll" href="/">Home</a></li>
	                        <li><a class="page-scroll" href="login">login</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	</div>
	<div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
	    <ol class="carousel-indicators">
	        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
	        <li data-target="#inSlider" data-slide-to="1"></li>
	    </ol>
	    <div class="carousel-inner" role="listbox">
	        <div class="item active">
	            <div class="container">
	                <div class="carousel-caption blank">
	                    <h1>Let's make your invoicing <br/> simple and easy.</h1>
	                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
	                </div>
	            </div>
	            <!-- Set background for slide in css -->
	            <div class="header-back two"></div>
	        </div>
	    </div>
	</div>
	
	<section id="contact">
	    <div class="container">
		    <div class="row m-b-lg">
	            <div class="col-lg-12 text-center">
	                <div class="navy-line"></div>
	                <h1>Invoice Maker</h1>
	                <p>Please fill the following form to send us a demand of invoicing.</p>
	            </div>
	        </div>
	        <div class="row m-b-lg">
	            <div class="col-lg-12 text-center">
	            
					  {% for flashMessage in app.session.flashbag.get('notice') %}
  					    <div class="alert alert-success">
					        {{ flashMessage }}
					    </div>
	                  {% endfor %}
						
                      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
					  {{ form_errors(form) }}
					
					  <div class="form-group">
					      {{ form_label(form.duedate, "Due Date", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

					      <div class="col-sm-4" id="datapicker">
					      	<div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                  {{ form_widget(form.duedate, {'attr': {'class': 'form-control date'}}) }}
                            </div>
					      </div>
					      <div class="col-sm-4">
					     	 {{ form_errors(form.duedate) }}
					      </div>
					  </div>
					    
					  <div class="form-group">
					      {{ form_label(form.amount, "Amount", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					      
					      <div class="col-sm-4">
					      	<div class="input-group date">
                                  <span class="input-group-addon"><i class="fa fa-euro"></i></span>
				        		{{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
				        	</div>
					      </div>
					      <div class="col-sm-4">
					     	 {{ form_errors(form.amount) }}
					      </div>
					  </div>
					    
					  <div class="form-group">
					      {{ form_label(form.reference, "Customer’s invoice reference", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					      
					      <div class="col-sm-4">
					        {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
					      </div>
					      <div class="col-sm-4">
					     	 {{ form_errors(form.reference) }}
					      </div>
					  </div>
					    
					  <div class="form-group">
					      {{ form_label(form.emailInvoicing, "Invoicing company email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					      
					      <div class="col-sm-4">
					        {{ form_widget(form.emailInvoicing, {'attr': {'class': 'form-control emailinvoicing', 'id': 'emailinvoicing'}}) }}
					      </div>
					      <div class="col-sm-4">
					     	 {{ form_errors(form.emailInvoicing) }}
					      </div>
					  </div>
					    
					  <div class="form-group">
					      {{ form_label(form.emailInvoiced, "Invoiced company email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
					      
					      <div class="col-sm-4">
					        {{ form_widget(form.emailInvoiced, {'attr': {'class': 'form-control', 'id': 'emailinvoiced'}}) }}
					      </div>
					      <div class="col-sm-4">
					     	 {{ form_errors(form.emailInvoiced) }}
					      </div>
					  </div>
					
					  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
					  {{ form_rest(form) }}
					  {{ form_end(form) }}
	            </div>
	        </div>        
	    </div>
	</section>
	<section id="contact" class="dark-bg"> 
	    <div class="container">
	    	    <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg">
	                <p><strong>&copy; 2015 Edebex</strong><br/></p>
	            </div>
	        </div>
	        <div class="row m-b-lg">
	            <div class="col-lg-12 text-center">
	            	<p class="m-t-sm">
	                    Follow us on our social platform
	                </p>
	                <ul class="list-inline social-icon">
	                    <li><a href="#"><i class="fa fa-twitter"></i></a>
	                    </li>
	                    <li><a href="#"><i class="fa fa-facebook"></i></a>
	                    </li>
	                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
	                    </li>
	                </ul>
	            </div>
		    </div>
	
	    </div>
	</section>
	
	<!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/jquery-ui-1.10.4.min.js">
    
	<!-- MENU -->
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <!-- Datepicker -->
	<script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>

	<style>
	.ui-autocomplete {
	    position: absolute;
	}
	</style>
    
	<script>
		$('#datapicker .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        
        var availableTags = ["seller@seller.foo","debtor@debtor.foo"];
        
       $( "#form_emailInvoicing, #form_emailInvoiced" ).autocomplete({
	        source: availableTags,
	        minLength: 3,
	        messages: {
		        noResults: '',
		        results: function() {}
		    }
	   });
    </script>
	

{% endblock %}
