{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Invoice</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ entity.amount }}</td>
            </tr>
            <tr>
                <th>Duedate</th>
                <td>{{ entity.dueDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Approveddate</th>
                <td>{{ entity.approvedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Emailinvoicing</th>
                <td>{{ entity.emailInvoicing }}</td>
            </tr>
            <tr>
                <th>Emailinvoiced</th>
                <td>{{ entity.emailInvoiced }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('invoice') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('invoice_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
