{% extends "EdebexAdminBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Invoices {% endblock %}

{% block body %}

    <div id="wrapper">
	    <nav class="navbar-default navbar-static-side" role="navigation">
	        <div class="sidebar-collapse">
	            <ul class="nav metismenu" id="side-menu">
	                <li class="nav-header">
	                    <div class="dropdown profile-element"> 
	                    	<span>
	                            <img alt="image" class="img-responsive" src="/img/edebex-logo.png" />
	                        </span>
	                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                            <li><a href="profile.html">Profile</a></li>
	                            <li><a href="contacts.html">Contacts</a></li>
	                            <li><a href="mailbox.html">Mailbox</a></li>
	                            <li class="divider"></li>
	                            <li><a href="login.html">Logout</a></li>
	                        </ul>
	                    </div>
	                    <div class="logo-element">
	                        EDB
	                    </div>
	                </li>
	                <li>
	                    <a href="/admin/invoice"><i class="fa fa-th-large"></i> <span class="nav-label">Invoices</span></a>
	                </li>
	            </ul>
	        </div>
	    </nav>

        <div id="page-wrapper" class="gray-bg">
	        <div class="row border-bottom">
		        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
			        <div class="navbar-header">
			            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
			            <form role="search" class="navbar-form-custom" action="search_results.html">
			                <div class="form-group">
			                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
			                </div>
			            </form>
			        </div>
		            <ul class="nav navbar-top-links navbar-right">
		                <li>
		                    <a href="login.html">
		                        <i class="fa fa-sign-out"></i> Log out
		                    </a>
		                </li>
		            </ul>
		        </nav>
	        </div>
		        
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Invoice List</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
	            
	       	<div class="wrapper wrapper-content animated fadeInRight">
	            <div class="row">
	                <div class="col-lg-12">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-content">
	                            <div class="table-responsive">
	                                <table class="table table-striped">
	                                    <thead>
		                                    <tr>
		                                        <th></th>
		                                        <th>Reference</th>
		                                        <th>Amount</th>
		                                        <th>Due Date</th>
		                                        <th>Status</th>
		                                        <th>Action</th>
		                                    </tr>
	                                    </thead>
	                                    <tbody>
	                                    	{% for invoice in invoices %}  
	                                    	<tr>    
		                                        <td><input type="checkbox"  class="i-checks" name="input[]"></td>
		                                        <td><a href="{{ path('admin_single', { 'reference': invoice.reference }) }}">{{invoice.reference}}</a></td>
		                                        <td>{{invoice.amount}} €</td>
		                                        <td>{{invoice.duedate | date("m/d/Y")}}</td>
		                                        <td><span class="label ">
		                                        	{{invoice.status}}</span></td>
		                                        <td>
		                                        	{% if invoice.status != "Approved" %}
		                                        	<form method="post" action="{{ path('admin_edit', {'id': invoice.id }) }}">
  														<input type="hidden" name="_method" value="put" />
		                                        		<button class="btn btn-primary btn-xs" type="submit" href="#" class="approve" data-value="{{invoice.id}}">
		                                        		<i class="fa fa-check"></i>
		                                        		</button> 
		                                        	</form>
		                                        	{% else %}
		                                        		{{tosend}}
		                                        	{% endif %}
		                                        </td>
		                                    </tr>
		                                    {% else %}
		                                    <tr>
												<td colspan="6" class="text-center">No Invoice</td>
											</tr>
		                                    {% endfor %}
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="footer">
	            <div class="pull-right">
	                10GB of <strong>250GB</strong> Free.
	            </div>
	            <div>
	                <strong>Copyright</strong> Example Company &copy; 2014-2015
	            </div>
	        </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Peity -->
    <script src="/js/plugins/peity/jquery.peity.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Peity -->
    <script src="/js/demo/peity-demo.js"></script>

{% endblock %}