{% extends "EdebexAdminBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Invoices {% endblock %}

{% block body %}

    <div id="wrapper">
	    <nav class="navbar-default navbar-static-side" role="navigation">
	        <div class="sidebar-collapse">
	            <ul class="nav metismenu" id="side-menu">
	                <li class="nav-header">
	                    <div class="dropdown profile-element"> 
	                    	<span>
	                            <img alt="image" class="img-responsive" src="/img/edebex-logo.png" />
	                        </span>
	                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                            <li><a href="profile.html">Profile</a></li>
	                            <li><a href="contacts.html">Contacts</a></li>
	                            <li><a href="mailbox.html">Mailbox</a></li>
	                            <li class="divider"></li>
	                            <li><a href="login.html">Logout</a></li>
	                        </ul>
	                    </div>
	                    <div class="logo-element">
	                        EDB
	                    </div>
	                </li>
	                <li>
	                    <a href="/admin/invoice"><i class="fa fa-th-large"></i> <span class="nav-label">Invoices</span></a>
	                </li>
	            </ul>
	        </div>
	    </nav>

        <div id="page-wrapper" class="gray-bg">
	        <div class="row border-bottom">
		        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
		            <ul class="nav navbar-top-links navbar-right">
		                <li>
		                    <a href="login.html">
		                        <i class="fa fa-sign-out"></i> Log out
		                    </a>
		                </li>
		            </ul>
		        </nav>
	        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-8">
                    <h2>Invoice details</h2>           
                </div>
                <div class="col-lg-4">
                    <div class="title-action">
                        <a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
                        <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
                        <a href="invoice_print.html" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print Invoice </a>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="ibox-content p-xl">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h5>From:</h5>
                                    <address>
                                        <strong>Inspinia, Inc.</strong><br>
                                        106 Jorg Avenu, 600/10<br>
                                        Chicago, VT 32456<br>
                                        <abbr title="Phone">P:</abbr> (123) 601-4590
                                    </address>
                                </div>
                                
                                <div class="col-sm-4 text-right">
                                    <h4>Invoice No.</h4>
                                    <h4 class="text-navy">{{ invoice.reference }}</h4>
                                    <span>To:</span>
                                    <address>
                                        <strong>Corporate, Inc.</strong><br>
                                        112 Street Avenu, 1080<br>
                                        Miami, CT 445611<br>
                                        <abbr title="Phone">P:</abbr> (120) 9000-4321
                                    </address>
                                    <p>
                                        <span><strong>Invoice Date:</strong> Marh 18, 2014</span><br/>
                                        <span><strong>Due Date:</strong> March 24, 2014</span>
                                    </p>
                                </div>
                                <div class="col-sm-4">
									<table class="table invoice-total">
		                                <tbody>
		                                <tr>
		                                    <td><strong>Sub Total :</strong></td>
		                                    <td>$1026.00</td>
		                                </tr>
		                                <tr>
		                                    <td><strong>TAX :</strong></td>
		                                    <td>$235.98</td>
		                                </tr>
		                                <tr>
		                                    <td><strong>TOTAL :</strong></td>
		                                    <td>$1261.98</td>
		                                </tr>
		                                </tbody>
		                            </table>
								</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="pull-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2015
            </div>
        </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/js/inspinia.js"></script>
    <script src="/js/plugins/pace/pace.min.js"></script>

{% endblock %}