{% extends "EdebexAuthentificationBundle::layout.html.twig" %}

{% block title %} {{ parent() }} | Login {% endblock %}

{% block body %}

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name"><img src="/img/edebex-logo.png" alt="" width="200"></h1>
            </div>
            <p>Please enter your credentials to access dashboard.</p>
            
			{% if error %}
			    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

            <form class="m-t" role="form" action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <input name="_username" type="text" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input name="_password" type="password" class="form-control" placeholder="Password" required="">
                </div>
                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

            </form>
            <p class="m-t"> <small>Edebex &copy; Invoice Maker 2015</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>

{% endblock %}
